.right-side {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 25px; // Bordes redondeados
  background: linear-gradient(135deg, #061ab3, #a2b3ff); // Gradiente de fondo
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); // Sombra pronunciada
  transition: transform 0.3s, box-shadow 0.3s; // Transiciones suaves

  // Efecto de elevación al pasar el mouse
  &:hover {
    transform: translateY(-4px); // Elevar el contenedor
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); // Sombra más profunda
  }

  span {
    margin-right: 8px;
    cursor: pointer;
    font-weight: 600; // Negrita
    color: #fff; // Color blanco
    font-size: 16px;
    transition: color 0.3s; // Transición suave para el color

    &:hover {
      color: #3bff7c; // Color amarillo brillante al hacer hover
    }
  }

  .fa-sign-in-alt {
    cursor: pointer;
    color: #fff; // Color blanco
    font-size: 20px; // Tamaño del icono
    transition: transform 0.3s, color 0.3s; // Transición suave para el icono

    // Efecto de pulso al pasar el mouse
    &:hover {
      transform: scale(1.1); // Aumentar tamaño
      color: #ffeb3b; // Color amarillo brillante al hacer hover
    }
  }
}

.btn-admin-cerrar {
  display: flex;
  justify-content: space-between;
  .btn {
    padding: 5px 10px;
    border-radius: 25px; // Bordes redondeado
    margin-right: 8px;
    cursor: pointer;
    font-weight: 600; // Negrita
    color: #fff; // Color blanco
    font-size: 16px;
    transition: color 0.3s; // Transición suave para el color

    // Efecto de elevación al pasar el mouse
    &:hover {
      transform: translateY(-4px); // Elevar el contenedor
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); // Sombra más profunda
    }

    &:hover {
      color: #3bff7c; // Color amarillo brillante al hacer hover
    }
  }
}

@media (max-width: 768px) {
  .right-side {
    
    background: none;
    box-shadow: none !important;
    padding: 0; /* Reduce el padding */
    border-radius: 17px; /* Reduce el borde redondeado */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Menos sombra */

    span {
      font-size: 10px; /* Reduce el tamaño de la fuente */
      
    }

    .fa-sign-in-alt {
      font-size: 18px; /* Reduce el tamaño del icono */
    }
  }

  .btn-admin-cerrar .btn {
    padding: 4px 8px; /* Reduce el padding del botón */
    border-radius: 20px; /* Reduce el borde redondeado */
    font-size: 14px; /* Reduce el tamaño de la fuente */
    margin-right: 6px; /* Reduce el margen derecho */
  }
}

@media (max-width: 480px) {
  .right-side {
    padding: 5px 10px; /* Reduce aún más el padding */
    border-radius: 15px; /* Bordes aún más redondeados */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1); /* Menos sombra */

    span {
      margin-right: 4px; /* Reduce aún más el margen */
      font-size: 12px; /* Reduce más el tamaño de la fuente */
    }

    .fa-sign-in-alt {
      font-size: 16px; /* Reduce el tamaño del icono */
    }
  }

  .btn-admin-cerrar .btn {
    padding: 3px 6px; /* Reduce el padding */
    border-radius: 15px; /* Bordes más pequeños */
    font-size: 12px; /* Reduce el tamaño de la fuente */
    margin-right: 4px; /* Reduce el margen derecho */
  }
}
