.button-openmodal1 {
  background: linear-gradient(135deg, #38ef7d, #11998e); // Degradado verde
  color: black;
  padding: 12px 24px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); // Sombra externa
  transition: background 0.3s ease, transform 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;

  &:hover {
    background: linear-gradient(
      135deg,
      #11998e,
      #38ef7d
    ); // Inversión del degradado en hover
    transform: translateY(-2px); // Efecto de elevación al hacer hover
  }
}

@media (max-width: 768px) {
  .button-openmodal1 {
    padding: 5px 10px !important; 
    font-size: 0.6rem !important; /* Reduce el tamaño de la fuente */
    border-radius: 20px !important; /* Ajusta el borde redondeado */
    margin-left: 0px !important; /* Reduce el margen izquierdo */
  }
}

@media (max-width: 480px) {
  .button-openmodal1 {
    padding: 8px 16px; /* Reduce aún más el padding */
    font-size: 0.8rem; /* Reduce más el tamaño de la fuente */
    border-radius: 30px; /* Bordes más pequeños */
    margin-left: 15px; /* Reduce aún más el margen izquierdo */
  }
}
