
.cookie-banner {
  position: fixed;
  bottom: 20px; 
  left: 20px;
  background: #343a40; 
  color: #ffffff; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  z-index: 1000; 
  font-family: "Arial", sans-serif; 
  transition: transform 0.3s ease-in-out; 
  transform: translateY(100%); 
}

.cookie-banner.show {
  transform: translateY(0); 
}

.cookie-banner p {
  margin: 0; 
  font-size: 14px; 
}

.cookie-banner button {
  margin: 0 5px;
  padding: 10px 15px; 
  background: #007bff; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.3s; 
}

.cookie-banner button:hover {
  background: #0056b3; /* Color más oscuro al pasar el mouse */
  transform: translateY(-2px); /* Efecto de elevación al pasar el mouse */
}

.error-text {
  color: #dc3545; /* Color rojo para errores */
}
