.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;

  .right-side {
    a {
      margin-left: 15px;
      cursor: pointer;
      color: $teal;
      transition: 0.5s ease-in-out;

      &:hover {
        color: $dark-teal;
      }
    }
  }

  .left-side {
    display: flex;
  }

  .nav-link-wrapper {
    height: 22px;
    position: relative;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
    text-align: center;
    display: flex;
    align-items: center;

    a {
      color: $grey;
      text-decoration: none;
      display: inline-block;
      padding: 2px 0;
      position: relative;
      transition: color 0.3s ease;

      &:hover {
        color: black;
      }

      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        display: block;
        margin: auto;
        background: black;
        transition: width 0.4s ease;
        bottom: -5px;
        left: 0;
        right: 0;
      }

      &:hover::after {
        width: 100%;
      }
    }

    .nav-link-active {
      color: black;
      &::after {
        width: 100%;
        background: black;
      }
    }
  }
}
.banner-logo img {
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 40px;
}

@media (max-width: 768px) {
  
  .nav-link-wrapper {
    margin-right: 5px !important;
  }
  .nav-wrapper {
    display: grid;
    grid-template-columns: 5fr 1fr;
  }

  .left-side {
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
  }

  .nav-link-wrapper a {
    font-size: 10px;

      }
    
  .banner-logo img {
    width: 80px;
    margin-right: 0;
  }
}

/* Pantallas extra pequeñas (móviles muy pequeños) */
@media (max-width: 480px) {
  .nav-wrapper {
    padding: 10px; /* Menos padding en pantallas pequeñas */
    margin-bottom: 20px !important;
  }

  .nav-link-active {
    font-size: 14px; /* Tamaño de fuente más pequeño para enlaces activos */
  }
}
