.wrapper-middle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.wrapper-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper-text {
  text-align: center;

  h5 {
    font-size: 1.6rem; 
    color: #2c3e50; 
    margin-bottom: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); 
  }

  h6 {
    font-size: 1.2rem; 
    color: #34495e; 
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); 
  }
}

.wrapper-inf {
  display: flex;
  justify-content: space-around; 
  align-items: flex-start; 
  width: 100%;
}

.cars-inf,
.name-inf,
.price-inf,
.icon-inf {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.cars-inf div,
.name-inf div,
.price-inf div {
  margin: 10px 0; 
  font-size: 1.2rem; 
  color: #000000; 
  text-align: center; 
}


.cars-inf .coche,
.cars-inf .furgoneta,
.cars-inf .camion,
.cars-inf .tractocamion {
  font-size: 30px; 
  color: #010a14; 
  margin-bottom: 8px; 
}


.name-inf div {
  font-weight: 600; /* Negrita */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); 
  margin-top: 22px;
}


.price-inf div {
  font-weight: bold; 
  font-size: 1.1rem;
  color: #001107; 
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); 
  margin-top: 25px;
}

#map-container {
  height: 200px; 
  width: 100%; 
}

.directions-link {
  margin-top: 20px; 
  text-align: center; 
}

.directions-link a {
  display: inline-block; 
  background: linear-gradient(135deg, #061ab3, #a2b3ff);
  color: white; 
  padding: 10px 20px; 
  border-radius: 25px; 
  text-decoration: none; 
  font-weight: bold; 
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-4px); 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); 
  }

  span {
    margin-right: 8px;
    cursor: pointer;
    font-weight: 600; 
    color: #fff; 
    font-size: 16px;
    transition: color 0.3s; 

    
  }
}


.wrapper-middle-two {
  background: radial-gradient(ellipse, #414283, #ffffff);
  padding: 35px 40px;
  flex-direction: column;
  height: 900px;
}

.button-openmodal {
  background-color: rgb(8, 211, 8);
  color: black;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button-openmodal:hover {
  background-color: darkblue;
  color: white;
}

.button-openmodal1 {
  background-color: rgb(8, 211, 8);
  color: black;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button-openmodal1:hover {
  background-color: darkblue;
  color: white;
}

@media (max-width: 768px) {

  .wrapper-text {
    

    h5 {
      font-size: 15px !important; 
     
    }

    h6 {
      font-size: 10px !important; 
     
    }
  }

  .cars-inf,
  .name-inf,
  .price-inf,
  .icon-inf {
    margin-top: 20px;
  }

  .cars-inf div,
  .name-inf div,
  .price-inf div {
    margin: 5px 0; /* Espaciado entre elementos */
    font-size: 15px;
  }

  /* Estilos para los iconos de coches */
  .cars-inf .coche,
  .cars-inf .furgoneta,
  .cars-inf .camion,
  .cars-inf .tractocamion {
    font-size: 15px; /* Tamaño de iconos reducido */
    color: #010a14; /* Color azul suave para los iconos */
    margin-bottom: 8px; /* Espaciado entre el icono y el texto */
  }

  /* Estilos para nombres de coches */
  .name-inf div
  .price-inf {
    font-weight: 300; 
    margin-top: 4px;
  }

  #map-container {
    height: 0px; 
    width: 0%; 
  }

  .directions-link a {
    padding: 5px 10px;

    span {
      font-size: 14px;
      
    }
  }

  /* Middle-two */
  .wrapper-middle-two {
    background: radial-gradient(ellipse, #414283, #ffffff);
    padding: 3px 0px;
    flex-direction: column;
    height: 40px !important;
  }
}
