$teal: #26bfd4;
$dark-teal: #207b88;
$charcoal: #42454a;
$offwhite: #f6f6f6;
$blue: #008dff;
$warning: #922a2a;
$grey: #5c5959;
$primary-color: rgb(0, 0, 0); // Negro

$light-teal: #a8e0e6;
$soft-blue: #7fbcff;
$midnight-blue: #003366;
$light-grey: #d3d3d3;
$dark-grey: #3a3a3a;
$cream: #f5f0e1;
$light-charcoal: #6d6e70;
$emerald: #2ecc71;
$light-warning: #e57373;
$soft-black: #1c1c1c;
$light-blue: #add8e6;
$muted-purple: #73628a;
$peach: #f7c6b9;
