.right-side {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 25px; // Bordes redondeados
  background: linear-gradient(135deg, #061ab3, #a2b3ff); // Gradiente de fondo
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); // Sombra pronunciada
  transition: transform 0.3s, box-shadow 0.3s; // Transiciones suaves

  // Efecto de elevación al pasar el mouse
  &:hover {
    transform: translateY(-4px); // Elevar el contenedor
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); // Sombra más profunda
  }

  span {
    margin-right: 8px;
    cursor: pointer;
    font-weight: 600; // Negrita
    color: #fff; // Color blanco
    font-size: 16px;
    transition: color 0.3s; // Transición suave para el color

    &:hover {
      color: #3bff7c; // Color amarillo brillante al hacer hover
    }
  }

  .fa-sign-in-alt {
    cursor: pointer;
    color: #fff; // Color blanco
    font-size: 20px; // Tamaño del icono
    transition: transform 0.3s, color 0.3s; // Transición suave para el icono

    // Efecto de pulso al pasar el mouse
    &:hover {
      transform: scale(1.1); // Aumentar tamaño
      color: #ffeb3b; // Color amarillo brillante al hacer hover
    }
  }
}

.btn-admin-cerrar {
  display: flex;
  justify-content: space-between;
  .btn {
    padding: 5px 10px;
    border-radius: 25px; // Bordes redondeado
    margin-right: 8px;
    cursor: pointer;
    font-weight: 600; // Negrita
    color: #fff; // Color blanco
    font-size: 16px;
    transition: color 0.3s; // Transición suave para el color

    // Efecto de elevación al pasar el mouse
    &:hover {
      transform: translateY(-4px); // Elevar el contenedor
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); // Sombra más profunda
    }

    &:hover {
      color: #3bff7c; // Color amarillo brillante al hacer hover
    }
  }
}
