.button-openmodal1 {
  background: linear-gradient(135deg, #38ef7d, #11998e); // Degradado verde
  color: black;
  padding: 12px 24px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); // Sombra externa
  transition: background 0.3s ease, transform 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;

  &:hover {
    background: linear-gradient(
      135deg,
      #11998e,
      #38ef7d
    ); // Inversión del degradado en hover
    transform: translateY(-2px); // Efecto de elevación al hacer hover
  }
}
